//- AFRAME
script(src="https://aframe.io/releases/1.2.0/aframe.min.js")

    //- LIBS OF AFRAME
    //- AFRAME EXTRAS
    script(src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js") 
    //- haptics for oculus controllers
    script(src='https://unpkg.com/aframe-haptics-component/dist/aframe-haptics-component.min.js')
    