doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- SEO
        title aframe 3dmodel viewer

        //- AFRAME
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>

        //- STYLESHEET
        link(rel="stylesheet", href="dist/css/build.css" type="text/css")

        //- APP
        <script src="dist/js/build.bundle.js"></script>
    body
        //- p #{name}'s Pug source code!
        //- a-scene(render=scene_render)
        a-scene
            